/**
 * File: cstrap.scss
 * CStrap - Development Framework
 * https://strap.concise.cc
 * © Concise Computing
 *
**/

@function invert($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $r: (255 - $r);
  $g: (255 - $g);
  $b: (255 - $b);
  $color: rgb($r, $g, $b);
  @return $color;
}

