/**
 * CStrap - Development Framework
 * https://strap.concise.cc
 * © Concise Computing
 *
**/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


/* ============   GENERAL   ============ */

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body{
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

cont{
  position: absolute;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 8px;
  background-color: #f0f0f0f0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  padding: 0;
  overflow: hidden;
}

.pa { position: absolute }
.pr { position: relative }
.pf { position: fixed }

.df { display: flex }
.db { display: block }
.dg { display: grid }
.dif { display: inline-flex }
.dib { display: inline-block }

.aic { align-items: center }
.aib { align-items: baseline }
.ais { align-items: flex-start }
.aie { align-items: flex-end }
.aist { align-items: stretch }

.asc { align-self: center }
.asb { align-self: baseline }
.ass { align-self: flex-start }
.ase { align-self: flex-end }
.asst { align-self: stretch }

.jcc { justify-content: center }
.jcb { justify-content: space-between }
.jcsb { justify-content: space-between }
.jca { justify-content: space-around }
.jce { justify-content: flex-end }
.jcs { justify-content: flex-start }

.fw { flex-wrap: wrap }
.nfw { flex-wrap: nowrap }

.fdr { flex-direction: row }
.fdrr { flex-direction: row-reverse }
.fdc { flex-direction: column }
.fdcr { flex-direction: column-reverse }

.tc { text-align: center }
.tl { text-align: left }
.tr { text-align: right }

.vh { visibility: hidden }
.vv { visibility: visible }

.cent, .center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}




/* ============   HEADER   ============ */


header{
  position: relative;
  top: 0vh;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: hsla(0,0%,0%,.06);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  z-index: 1;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #80808080;
  z-index: 1;
}

header.s0 {
  padding-left: 0;
  padding-right: 0;
}

header.s1 {
  padding-left: 20px;
  padding-right: 20px;
}

header.s2 {
  padding-left: 50px;
  padding-right: 50px;
}

header.s3 {
  padding-left: 100px;
  padding-right: 100px;
}

header.s4 {
  padding-left: 200px;
  padding-right: 200px;
}

header.s5 {
  padding-left: 300px;
  padding-right: 300px;
}

header.s6 {
  padding-left: 400px;
  padding-right: 400px;
}

header.s7 {
  padding-left: 500px;
  padding-right: 500px;
}

header.s8 {
  padding-left: 600px;
  padding-right: 600px;
}

header.s9 {
  padding-left: 700px;
  padding-right: 700px;
}

header.s10 {
  padding-left: 800px;
  padding-right: 800px;
}

header.s11 {
  padding-left: 900px;
  padding-right: 900px;
}

header.s12 {
  padding-left: 1000px;
  padding-right: 1000px;
}

header.s13 {
  padding-left: 1100px;
  padding-right: 1100px;
}

header.s14 {
  padding-left: 1200px;
  padding-right: 1200px;
}

header.s15 {
  padding-left: 1300px;
  padding-right: 1300px;
}

header.s16 {
  padding-left: 1400px;
  padding-right: 1400px;
}

header.s17 {
  padding-left: 1500px;
  padding-right: 1500px;
}

header.s18 {
  padding-left: 1600px;
  padding-right: 1600px;
}

header.s19 {
  padding-left: 1700px;
  padding-right: 1700px;
}

header.s20 {
  padding-left: 1800px;
  padding-right: 1800px;
}

header.s21 {
  padding-left: 1900px;
  padding-right: 1900px;
}

header.s22 {
  padding-left: 2000px;
  padding-right: 2000px;
}

header.s23 {
  padding-left: 2100px;
  padding-right: 2100px;
}

header.s24 {
  padding-left: 2200px;
  padding-right: 2200px;
}

header.l0 {
  padding-left: 0;
}

header.l1 {
  padding-left: 20px;
}

header.l2 {
  padding-left: 50px;
}

header.l3 {
  padding-left: 100px;
}

header.l4 {
  padding-left: 200px;
}

header.l5 {
  padding-left: 300px;
}

header.l6 {
  padding-left: 400px;
}

header.l7 {
  padding-left: 500px;
}

header.l8 {
  padding-left: 600px;
}

header.l9 {
  padding-left: 700px;
}

header.l10 {
  padding-left: 800px;
}

header.l11 {
  padding-left: 900px;
}

header.l12 {
  padding-left: 1000px;
}

header.l13 {
  padding-left: 1100px;
}

header.l14 {
  padding-left: 1200px;
}

header.l15 {
  padding-left: 1300px;
}

header.l16 {
  padding-left: 1400px;
}

header.l17 {
  padding-left: 1500px;
}

header.l18 {
  padding-left: 1600px;
}

header.l19 {
  padding-left: 1700px;
}

header.l20 {
  padding-left: 1800px;
}

header.l21 {
  padding-left: 1900px;
}

header.l22 {
  padding-left: 2000px;
}

header.l23 {
  padding-left: 2100px;
}

header.l24 {
  padding-left: 2200px;
}

header.r0 {
  padding-right: 0;
}

header.r1 {
  padding-right: 20px;
}

header.r2 {
  padding-right: 50px;
}

header.r3 {
  padding-right: 100px;
}

header.r4 {
  padding-right: 200px;
}

header.r5 {
  padding-right: 300px;
}

header.r6 {
  padding-right: 400px;
}

header.r7 {
  padding-right: 500px;
}

header.r8 {
  padding-right: 600px;
}

header.r9 {
  padding-right: 700px;
}

header.r10 {
  padding-right: 800px;
}

header.r11 {
  padding-right: 900px;
}

header.r12 {
  padding-right: 1000px;
}

header.r13 {
  padding-right: 1100px;
}

header.r14 {
  padding-right: 1200px;
}

header.r15 {
  padding-right: 1300px;
}

header.r16 {
  padding-right: 1400px;
}

header.r17 {
  padding-right: 1500px;
}

header.r18 {
  padding-right: 1600px;
}

header.r19 {
  padding-right: 1700px;
}

header.r20 {
  padding-right: 1800px;
}

header.r21 {
  padding-right: 1900px;
}

header.r22 {
  padding-right: 2000px;
}

header.r23 {
  padding-right: 2100px;
}

header.r24 {
  padding-right: 2200px;
}


/* ============  SHADOWS  ============ */

.milkShad {
    box-shadow: 0 0 10px 0 rgb(0 0 0/10%);
    border-bottom: 2px solid rgba(0,0,0,.125)
}


/* ============   NAV   ============ */


nav.cnav{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 1;
}

nav.cnav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #80808080;
  z-index: 1;
}

nav.cnav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

nav.cnav ul li{
  margin: 0 10px;
}

nav.cnav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
}

nav.cnav ul li a:hover{
  color: #666;
}

nav.cnav ul li a.active{
  color: #fff;
}

nav.cnav ul li a.active::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 1;
}

nav.cnav ul li.light a.active::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  z-index: 1;
}

nav.cnav ul li.dark a.active::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  z-index: 1;
}

nav.cnav ul li a.active:hover::after{
  background-color: #000;
}

nav.cnav ul li a.active:hover{
  color: #000;
}

nav.cnav ul li a::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  z-index: 1;
  transition: all 0.3s ease;
}

nav.cnav ul li a:hover::after{
  width: 100%;
  background-color: #000;
}

nav.cnav ul li a:hover{
  color: #000;
}

nav.cnav ul li a::before{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  z-index: 1;
  transition: all 0.3s ease;
}


/* ============   MOBILE-NAV   ============ */

@media(max-width: 991px){
  nav.break {
    display: none;
  }
}

nav.break{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

nav.break.active{
  transform: translateX(0%);
}

nav.break ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

nav.break ul li{
  margin: 20px 0;
}

nav.break ul li a{
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
}

nav.break ul li a.active{
  color: #fff;
}

nav.break ul li a.active::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  z-index: 1;
}

nav.break ul li.light a.active::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  z-index: 1;
}

nav.break ul li.dark a.active::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  z-index: 1;
}

nav.break ul li a.active:hover::after{
  background-color: #000;
}

nav.break ul li a.active:hover{
  color: #000;
}

nav.break ul li a::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  z-index: 1;
  transition: all 0.3s ease;
}

nav.break ul li a:hover::after{
  width: 100%;
  background-color: #000;
}

nav.break ul li a:hover{
  color: #000;
}

nav.break ul li a::before{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  z-index: 1;
  transition: all 0.3s ease;
}

nav.break ul li a:hover::before{
  width: 100%;
  background-color: #000;
}

nav.break ul li a:hover{
  color: #000;
}

nav.break ul li a::before{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  z-index: 1;
  transition: all 0.3s ease;
}



/* ============   CARDS   ============ */

card{
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 25px;
  margin: 25px;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

card::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
}

card:hover::after{
  opacity: 0.1;
}

card:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

card:hover .card-title{
  color: #000;
}

card:hover .card-desc{
  color: #000;
}

card:hover .card-link{
  color: #000;
}

card:hover .card-link::after{
  background-color: #000;
}

card:hover .card-link::before{
  background-color: #000;
}

card:hover .card-link:hover::after{
  background-color: #000;
}

card:hover .card-link:hover::before{
  background-color: #000;
}

card:hover .card-link:hover{
  color: #000;
}

card:hover .card-link:hover::after{
  width: 100%;
}

card:hover .card-link:hover::before{
  width: 100%;
}

card:hover .card-link::after{
  width: 0%;
}

card:hover .card-link::before{
  width: 0%;
}

card:hover .card-link::after{
  background-color: #000;
}

card:hover .card-link::before{
  background-color: #000;
}

card:hover .card-link{
  color: #000;
}

card:hover .card-link::after{
  background-color: #000;
}

card:hover .card-link::before{
  background-color: #000;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  transition: all 0.3s ease;
}

.card-desc{
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
  transition: all 0.3s ease;
}

card::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
  z-index: 1;
  opacity: 0.2;
  border-radius: 10px;
}

card::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
  z-index: 1;
  opacity: 0.2;
  border-radius: 10px;
}

card h1{
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card h2{
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card h4{
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card h5{
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card h6{
  font-size: 0.6rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card p{
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 25px;
}

card a{
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}


/* ============   BUTTONS   ============ */

.btn {
  box-shadow: 0 0 2px rgba(0,0,0,0.7);
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #efefef;
  color: #000;
  cursor: pointer;
  transition: all 0.15s ease;
}

.btn:hover{
  background-color: #232425;
  color: #efefef;
  outline: solid 1px #666;
}

.btn-dark {
  background-color: #232425;
  color: #efefef;
  outline: solid 1px #666;
}

.btn-dark:hover{
  background-color: #efefef;
  color: #000;
  box-shadow: 0 0 2px rgba(0,0,0,0.7);
  outline: none;
}


