
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body{
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

cont{
  position: absolute;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 8px;
  background-color: #f0f0f0f0;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: 25px;
  padding: 0;
  overflow: hidden;
}


header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: hsla(0,0%,0%,.06);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 1;
}


header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #80808080;
  z-index: 1;
}

nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 1;
}

nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #80808080;
  z-index: 1;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

nav ul li{
  margin: 0 10px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
}

nav ul li a:hover{
  color: #000;
}

nav ul li a.active{
  color: #000;
}

nav ul li a.active::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  z-index: 1;
}

nav ul li a.active:hover::after{
  background-color: #000;
}

nav ul li a.active:hover{
  color: #000;
}

nav ul li a::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  z-index: 1;
  transition: all 0.3s ease;
}

nav ul li a:hover::after{
  width: 100%;
  background-color: #000;
}

nav ul li a:hover{
  color: #000;
}

nav ul li a::before{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000;
  z-index: 1;
  transition: all 0.3s ease;
}

card{
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 25px;
  margin: 25px;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

card::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
}

card:hover::after{
  opacity: 0.1;
}

card:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

card:hover .card-title{
  color: #000;
}

card:hover .card-desc{
  color: #000;
}

card:hover .card-link{
  color: #000;
}

card:hover .card-link::after{
  background-color: #000;
}

card:hover .card-link::before{
  background-color: #000;
}

card:hover .card-link:hover::after{
  background-color: #000;
}

card:hover .card-link:hover::before{
  background-color: #000;
}

card:hover .card-link:hover{
  color: #000;
}

card:hover .card-link:hover::after{
  width: 100%;
}

card:hover .card-link:hover::before{
  width: 100%;
}

card:hover .card-link::after{
  width: 0%;
}

card:hover .card-link::before{
  width: 0%;
}

card:hover .card-link::after{
  background-color: #000;
}

card:hover .card-link::before{
  background-color: #000;
}

card:hover .card-link{
  color: #000;
}

card:hover .card-link::after{
  background-color: #000;
}

card:hover .card-link::before{
  background-color: #000;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  transition: all 0.3s ease;
}

.card-desc{
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
  transition: all 0.3s ease;
}

card::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
  z-index: 1;
  opacity: 0.2;
  border-radius: 10px;
}

card::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9ecef;
  z-index: 1;
  opacity: 0.2;
  border-radius: 10px;
}

card h1{
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card h2{
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card h3{
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card h4{
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card h5{
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card h6{
  font-size: 0.6rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 25px;
}

card p{
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 25px;
}

card a{
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

